
*.json
# 忽略 build 文件夹
build/
.cache/
/test/

# 不忽略 analysis 文件夹中的所有文件
!analysis

# 但是忽略 analysis 文件夹中的这些文件
analysis/**/*.txt
analysis/**/*.out
analysis/**/*.log
analysis/**/*.png
analysis/**/*.old
analysis/**/*.svg
analysis/**/*.pl
analysis/**/*.folded
analysis/**/*.csv
analysis/**/*.script